* {
  font-family: Lato, Arial, SansSerif;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
html .main, body .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
html .main .container, body .main .container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
html .main .container .navbar, body .main .container .navbar {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 450px) {
  html .main .container .navbar, body .main .container .navbar {
    flex-flow: column wrap;
    flex-basis: fit-content;
  }
}
html .main .container .navbar .logo, body .main .container .navbar .logo {
  margin-top: 35px;
  height: auto;
}
html .main .container .navbar a, body .main .container .navbar a {
  margin-top: 68px;
  list-style: none;
  font-size: 13pt;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding-left: 41px;
  padding-right: 41px;
  color: #4d4959;
}
html .main .container .navbar a:link, body .main .container .navbar a:link {
  text-decoration: none;
  color: #4d4959;
}
html .main .container .navbar a:visited, body .main .container .navbar a:visited {
  text-decoration: none;
}
html .main .container .navbar a:hover, body .main .container .navbar a:hover {
  color: #848789;
}
html .main .container .backimage, body .main .container .backimage {
  background-image: url("img-html/img-ban.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
html .main .container .generation, body .main .container .generation {
  padding-top: 120px;
  padding-left: 280px;
  padding-right: 280px;
  padding-bottom: 120px;
  text-align: center;
  background-color: #f7f7f7;
}
html .main .container .generation h1, body .main .container .generation h1 {
  margin-top: 35px;
  letter-spacing: 5px;
  font-size: 18pt;
  color: #353738;
}
html .main .container .generation p, body .main .container .generation p {
  color: #848789;
}
html .main .container .olivia, body .main .container .olivia {
  width: 100%;
  max-height: 600px;
  height: 600px;
  display: flex;
  flex-wrap: nowrap;
}
html .main .container .olivia .bicycle-company, body .main .container .olivia .bicycle-company {
  width: 66.6666666667vw;
  max-height: 600px;
  height: 100%;
  background-image: url("img-html/img-1.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .main .container .olivia .vintage-olivia, body .main .container .olivia .vintage-olivia {
  width: 33.3333333333vw;
  height: 100%;
  text-align: center;
  background-color: #f7f7f7;
}
html .main .container .olivia .vintage-olivia .cadre, body .main .container .olivia .vintage-olivia .cadre {
  height: 66.6666666667%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
html .main .container .olivia .vintage-olivia .selle, body .main .container .olivia .vintage-olivia .selle {
  height: 33.3333333333%;
  width: 100%;
  background-image: url("img-html/img-2.jpg");
  background-size: cover;
}
html .main .container .olivia .vintage-olivia h1, body .main .container .olivia .vintage-olivia h1 {
  margin-top: 35px;
  letter-spacing: 5px;
  font-size: 18pt;
  color: #353738;
}
html .main .container .olivia .vintage-olivia p, body .main .container .olivia .vintage-olivia p {
  color: #848789;
}
html .main .container .olivia .selle, body .main .container .olivia .selle {
  width: 33.3333333333vw;
  height: 33.3333333333vh;
  position: relative;
}
html .main .container .boriosa, body .main .container .boriosa {
  max-height: 600px;
  height: 600px;
  display: flex;
}
html .main .container .boriosa .la-boriosa, body .main .container .boriosa .la-boriosa {
  align-items: center;
  justify-content: center;
  vertical-align: center;
  width: 33.3333333333vw;
}
html .main .container .boriosa .la-boriosa .selle-noire, body .main .container .boriosa .la-boriosa .selle-noire {
  height: 33.3333333333%;
  width: 100%;
  background-image: url("img-html/img-3.jpg");
  background-size: cover;
}
html .main .container .boriosa .la-boriosa .pignon, body .main .container .boriosa .la-boriosa .pignon {
  height: 66.6666666667%;
  width: 100%;
  text-align: center;
}
html .main .container .boriosa .la-boriosa .pignon h1, body .main .container .boriosa .la-boriosa .pignon h1 {
  margin-top: 35px;
  letter-spacing: 5px;
  font-size: 18pt;
  color: #353738;
}
html .main .container .boriosa .la-boriosa .pignon p, body .main .container .boriosa .la-boriosa .pignon p {
  color: #848789;
}
html .main .container .boriosa .handcrafted, body .main .container .boriosa .handcrafted {
  width: 66.6666666667vw;
  max-height: 600px;
  height: 100%;
  background-image: url("img-html/img-4.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .main .container .discover, body .main .container .discover {
  width: 100%;
  max-height: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  background-color: #282f35;
}
html .main .container .discover .discover-btn, body .main .container .discover .discover-btn {
  font-family: Lato, Arial, SansSerif;
  color: white;
  background-color: transparent;
  padding: 15px 60px;
  border: 1px #94979a solid;
  transition: all 0.5s;
}
html .main .container .discover .discover-btn:hover, body .main .container .discover .discover-btn:hover {
  color: #4d4959;
  background-color: white;
  border-radius: 4px;
}
html .main .container .contact, body .main .container .contact {
  width: 100vw;
  height: 100%;
  max-height: 470px;
  text-align: center;
}
html .main .container .contact p, body .main .container .contact p {
  font-family: Lato, Arial, SansSerif;
  color: #848789;
  font-style: italic;
  font-size: 24pt;
}
html .main .container .contact img, body .main .container .contact img {
  height: 100%;
  padding-top: 110px;
  width: auto;
}
html .main .container .contact form, body .main .container .contact form {
  font-family: Lato, Arial, SansSerif;
  margin-bottom: 110px;
}
html .main .container .contact form input, body .main .container .contact form input {
  width: 33.3333333333vw;
  height: 70px;
  border: #929292 1px solid;
  padding-left: 30px;
  padding-right: 30px;
}
html .main .container .contact form input::placeholder, body .main .container .contact form input::placeholder {
  color: #929292;
  vertical-align: center;
  font-size: 20pt;
  font-style: italic;
  font-weight: 300;
  padding-left: 30px;
}
html .main .container .contact form button, body .main .container .contact form button {
  width: auto;
  height: auto;
  padding: 30px;
  background-color: #64c29e;
  border: none;
}
html footer, html .footer, body footer, body .footer {
  background-color: #f7f7f7;
  background-size: cover;
  max-height: 250px;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  line-break: auto;
  color: #848789;
}
html footer .address, html .footer .address, body footer .address, body .footer .address {
  font-family: Lato, Arial, SansSerif;
  font-style: italic;
  float: left;
  margin: auto auto auto 250px;
}
html footer .address b, html .footer .address b, body footer .address b, body .footer .address b {
  font-size: 16pt;
}
html footer .address i, html .footer .address i, body footer .address i, body .footer .address i {
  font-size: 13.9pt;
}
html footer .social, html .footer .social, body footer .social, body .footer .social {
  margin: auto 250px auto auto;
}
html footer .yebo, html .footer .yebo, body footer .yebo, body .footer .yebo {
  font-family: Lato, Arial, SansSerif;
  font-style: italic;
  font-size: 13.9pt;
  float: left;
  margin: auto auto auto 250px;
}
html footer .yebo img, html .footer .yebo img, body footer .yebo img, body .footer .yebo img {
  vertical-align: center;
}

/*# sourceMappingURL=style.css.map */
