@mixin capitalize {
  text-transform: capitalize;
}

body {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "SansSerif";
  header {
    nav {
      ul {
        li {
          @include capitalize;
        }
      }
    }
  }
}
