// Includes
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css');

// Variables
$font-stack: 'Roboto', sans-serif;
$font-size-header-title: 60px !important;
$focal-green: #2ecc71;
$grayish-blue: #566366;
$dark-grayish-blue: #252e30;
$darker-grayish-blue: #191f21;
$text-gray: #919191;
$grayish-background: #f2f2f1;
$footer-grayish-blue: #4b5456;

// Mixins
@mixin h1h2h3p {
    h2 {
        color: $grayish-blue;
        font-size: 30px;
    }

    h3 {
        color: $grayish-blue;
        font-size: 22px;
    }

    p {
        color: $text-gray;
        font-size: 18px;
        font-weight: normal;
        line-break: auto;
    }
}

@mixin btn-green {
    .btn {
        max-width: 185px;
        width: 100%;
        background-color: transparent;
        border: solid 2.5px $focal-green;
        color: $focal-green;
        padding: 20px 30px;
        font-weight: bold;
        border-radius: 0;
        text-align: center;
    }
}

// Style

html, body {
    font-family: $font-stack !important;
    width: 100%;
    height: 100%;

    header {
        width: 100%;
        height: 100%;
        background: url(../images/header-bg.jpg) center center no-repeat;
        background-size: cover;
        line-break: auto;

        .btn {
            max-width: 185px;
            width: 100%;
            background-color: transparent;
            border: solid 2.5px white;
            color: white;
            padding: 21px 35px;
            margin-top: 50px;
            font-weight: bold;
            border-radius: 0;
        }

        h1 {
            line-height: normal;
            font-weight: bold;
            font-size: $font-size-header-title;
            color: #ffffff;
            border-top: white 2.5px solid;
            border-bottom: white 2.5px solid;
        }
    }

    @media (max-width: 840px) {
        .navbar {
            background-color: $dark-grayish-blue;
            height: auto;
            max-width: 100vw;
            padding: 0;
            display: flex;
            flex-flow: column wrap;
            text-align: center;
        }

        .navbar-brand {
            padding: 0 !important;
            margin-right: 0 !important;
        }
    }

    .navbar {
        background-color: $dark-grayish-blue;
        height: auto;
        max-width: 100vw;

        .nav-item {
            a {
                font-weight: 700;
                font-size: 16px;
                color: white;
                line-height: 30px;
            }

            a:hover {
                color: $focal-green;
            }
        }

        span:first-child {
            color: $focal-green;
        }
    }

    .container {

        max-width: 100vw;

        #summary {
            padding: 100px 225px;
            @include h1h2h3p;

            @media (max-width: 840px) {
                max-height: none;
                height: 100%;
                max-width: none;
                width: 100%;
                padding: 50px 0;
                margin: 0;
            }
        }

        #about-me {
            @include h1h2h3p;
            background-color: $grayish-background;
            max-height: 750px;
            height: 100%;


            @media (max-width: 840px) {
                max-height: none;
                height: 100%;
                .col {
                    max-width: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
            }

            .content {
                padding: 100px 210px 100px 100px;

                #content {
                    padding-top: 80px;
                }

                img {
                    padding-right: 30px;
                }
            }

            #img {
                max-width: 610px;
                max-height: 750px;
                height: 100%;
                padding: 0;
                margin: 0;
            }
        }

        #resume {
            @include h1h2h3p;
            @include btn-green;

            .btn {
                max-width: 220px;
            }

            margin-top: 100px;
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: $grayish-background;
            background-size: cover;
        }

        #my-skills {
            padding: 100px 0 0 0;
            @include h1h2h3p;
            @include btn-green;

            .progress {
                height: 30px;
                border-radius: 0 !important;

                .progress-bar {
                    background-color: $focal-green;
                    border-radius: 0 !important;
                    text-align: right;
                    padding-right: 5px;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }

        #resumeplus {
            hr {
                border: none;
                height: 1px;
                padding-left: 210px;
                padding-right: 210px;
            }
        }

        #contact {
            @include h1h2h3p;
            @include btn-green;
            background-color: $dark-grayish-blue;
            max-height: 910px;
            height: 100%;
            padding: 100px 210px;
            font-size: 18px;

            .btn {
                background-color: $darker-grayish-blue;
                border: none;
                color: white;
                margin-top: 30px;
            }

            #phone-mail {
                span {
                    color: white;
                }
            }

            @media (max-width: 840px) {
                max-height: none;
                height: 100%;
                padding: 5px;
                .col {
                    max-width: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
            }

            h2 {
                color: white;
            }

            #contact-form {

                color: white;
                font-size: 18px;

                label {
                    padding-bottom: 20px;
                    padding-top: 20px;
                }

                textarea {
                    height: 280px;
                }

                input {
                    height: 55px;
                }

                textarea, input {
                    background-color: $footer-grayish-blue;
                    border: none;
                    border-radius: 0;
                }
            }
        }

        #education {
            @include h1h2h3p;
            padding: 100px 210px;
            font-size: 18px;

            @media (max-width: 840px) {
                max-height: none;
                height: 100%;
                padding: 5px;
                .col {
                    max-width: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
            }

            .education {
                hr {
                    border: none;
                    height: 1px;
                }

                .badge {
                    font-size: 14px;
                    font-weight: bold;
                    padding: 8px;
                    border-radius: 0;
                    background-color: $focal-green;
                }
            }
        }

        #work-experience {
            @include h1h2h3p;
            padding: 100px 210px;
            font-size: 18px;

            @media (max-width: 840px) {
                max-height: none;
                height: 100%;
                padding: 5px;
                .col {
                    max-width: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
            }

            .work {
                hr {
                    border: none;
                    height: 1px;
                }

                .badge {
                    font-size: 14px;
                    font-weight: bold;
                    padding: 8px;
                    border-radius: 0;
                    background-color: $focal-green;
                }
            }
        }

        #reviews {
            @include h1h2h3p;
            padding: 100px 210px;
            font-size: 18px;
            background-color: $grayish-background;
            background-size: cover;

            @media (max-width: 840px) {
                max-height: none;
                height: 100%;
                padding: 5px;
                .col {
                    max-width: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        #portfolio {
            @include h1h2h3p;
            padding: 100px 210px;
            font-size: 18px;

            @media (max-width: 840px) {
                max-height: none;
                height: 100%;
                padding: 5px;
                .col {
                    max-width: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
            }

            figure {
                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: $focal-green;
                    visibility: hidden;
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }

                img:hover {
                    webkit-filter: blur(3px); /* Chrome, Safari, Opera */
                    filter: blur(3px);
                    transition: 1s;
                }

                .col figure:hover .overlay {
                    opacity: 0.8;
                    visibility: visible;
                }

                .text {
                    color: white;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                }
            }
        }
    }

    #footer {
        footer {
            padding: 50px 0;
            text-align: center;
            background-color: $darker-grayish-blue;
            color: $footer-grayish-blue;

            a:hover {
                i {
                    color: white;
                    transition-duration: 1s;
                }
            }

            i {
                background-color: $footer-grayish-blue;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                text-align: center;
                line-height: 35px;
                vertical-align: middle;
                color: $darker-grayish-blue;
                font-size: 20px;
                margin: 0 5px;
            }
        }
    }

}
